
.landing {
    height: 40vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-image: url(../images/bg.webp);
    font-family: 'Oswald', sans-serif;
    /* animation: backgroundChange 10s linear infinite; */
  }

  .landing h1 {
    background-color: rgba(185, 116, 14, 0.733);
      border-top: 0.5px solid grey;
      border-bottom: 0.5px solid grey;
      align-content: center;
      align-items: center;
      color:  white;
  }

  .landing h3 {
    color:  white;
  }
  
  /* @keyframes backgroundChange {
    from {background-color: khaki;}
    to {background-color:navajowhite;}
    to {background-color: rgba(165, 42, 42, 0.459);}

  } */
  