.container{
    color: blue;
    width: 500px;
    height: 100vh;
    padding: 10%;
    position: relative;
    align-items: center;
}
.flex {
    display: flex;
    width: 40%; 
    height: 40%;
    padding: 20px;
    color: rgba(185, 116, 14, 0.733);

}

.login span{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    color: rgba(185, 116, 14, 0.733);
}
.login input {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    width: 20vw; 
}
